@font-face {
  font-family: "Nuckle";
  src: url("/fonts/Nuckle-Regular.woff2");
}

body {
  font-family: Nuckle;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#E8E8E8];
  }

  .btn-1 {
    @apply btn font-medium bg-white text-black hover:bg-white;
    border: 2px solid #000000;
    border-radius: 8px;
  }

  .btn-2 {
    @apply btn font-medium;
    color: white;
    background: #022a30;
    border: 2px solid #000000;
    border-radius: 8px;
  }

  .btn-2:hover {
    background: #022a30;
  }

  .btn-3 {
    @apply btn font-medium max-w-[200px] text-lg;
    color: #00a5bf;
    background: white;
    border-radius: 8px;
  }

  .btn-3:hover {
    background: white;
  }

  .btn-4 {
    @apply font-medium rounded-2xl  h-7 w-24 border border-[#03444F];
    color: #03444f;
    background: white;
  }

  .special-radius {
    border-radius: 15px 15px 15px 0px;
  }

  .shadow-hero-1 {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  }

  .section3gradient {
    background: linear-gradient(
      121.16deg,
      #fcfcfc 18.31%,
      #eaeff3 73.06%,
      #d0e3f1 96.73%
    );
  }

  .section7-gradient {
    background: linear-gradient(
      -10.16deg,
      #fcfcfc 18.31%,
      #eaeff3 73.06%,
      #d0e3f1 96.73%
    );
  }

  .card-btn {
    @apply btn border-2 bg-transparent border-[#03444F] text-[#03444F]  hover:bg-transparent   rounded-full w-24 btn-sm;
  }

  .about-section3-gradient {
    background: linear-gradient(
      121.16deg,
      #fcfcfc 18.31%,
      #eaeff3 73.06%,
      #d0e3f1 96.73%
    );
  }

  .promo-card-gradient {
    background: linear-gradient(
      260.16deg,
      #fcfcfc 18.31%,
      #eaeff3 73.06%,
      #d0e3f1 96.73%
    );
    border-radius: 9px;
  }

  /* new css */

  .container2 {
    @apply max-w-[1920px];
  }

  /* colors */
  .bgColor-primary {
    background: #00a5bf;
  }

  /* forms*/

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"] {
    background: rgba(255, 255, 255, 0.49);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    height: 68px;
  }

  label {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: rgba(17, 18, 18, 0.68);
  }

  .input-container {
    @apply flex flex-col gap-3;
  }

  .form-btn {
    @apply w-full p-4 rounded-lg flex gap-2 text-white justify-center items-center;
    background: #00a5bf;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    position: relative;
  }
  .form-btn img {
    height: 12px;
    position: absolute;
    right: 1em;
  }
  /* typography */

  .h1-lg {
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 52px;
    text-align: center;
  }

  .h1-md {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #7c7474;
  }

  text-muted {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(17, 18, 18, 0.88);
  }
}
