/* @import url("./styles/Home.css"); */
@font-face {
  font-family: "Nuckle";
  src: url("/fonts/Nuckle-Regular.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nuckel";
}

.login-btn {
  width: 164px;
  height: 59px;
  left: 1403px;
  top: 31px;
  border: 2px solid #000000;
  border-radius: 8px;
  font-weight: 591;
  font-size: 22px;
  line-height: 26px;
}

.booknow-btn {
  width: 164px;
  height: 59px;
  left: 1403px;
  top: 31px;
  color: white;
  background: #022a30;
  border: 2px solid #000000;
  border-radius: 8px;
  font-weight: 591;
  font-size: 22px;
  line-height: 26px;
}
