/* @import url("./styles/Home.css"); */

@font-face {
  font-family: "Nuckle";
  src: url("/fonts/Nuckle-Regular.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-1 {
  @apply btn font-medium bg-white text-black hover:bg-white;
  border: 2px solid #000000;
  border-radius: 8px;
}

.btn-2 {
  @apply btn font-medium;
  color: white;
  background: #022a30;
  border: 2px solid #000000;
  border-radius: 8px;
}

.btn-2:hover {
  background: #022a30;
}

.special-radius {
  border-radius: 15px 15px 15px 0px;
}

.shadow-hero-1 {
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
}

.section3gradient {
  background: linear-gradient(
    121.16deg,
    #fcfcfc 18.31%,
    #eaeff3 73.06%,
    #d0e3f1 96.73%
  );
}

.section7-gradient {
  background: linear-gradient(
    -10.16deg,
    #fcfcfc 18.31%,
    #eaeff3 73.06%,
    #d0e3f1 96.73%
  );
}
